body{
    font-family:'Archivo Black',sans-serif;
    
    
}
a{
    color:aliceblue;
    text-align:center;
}

/* ABOUT PAGE STYLING */
.abouth1{
    text-align:center;
    padding-top:2rem;
}
.abouth2{
    margin-top:2rem;
    margin-bottom:2rem; 
    text-align:center;
}
.abouth3{
    padding-top:2rem;
    margin-bottom:2%; 
    text-align:center;
    float:center;
}
.peerfeedback{
    padding-top:2%;
    margin-left:2%;
    margin-right:2%;
}
#peers{
    padding-top:0%
}
.carousel-item{
    color:black;
}
h5{
    text-align:center;
    padding-top:2%;
}
.mainpage{
    margin-left:2%;
    margin-right:2%;
    
}
.boroughspecific{
    margin-left:2%;
    margin-right:2%
}

.aboutfooter{
    margin-right:2%;
    margin-left:2%;
    
}
h3{
    text-align:center;
    
}
.mainpageh{
    padding-top:65%;

}


/*  FOOTER STYLING */
.footerdiv{
    position:absolute;
   
    height:5%;
    font-size:11px;
    width:100%;
    
    text-align:left;
    color:aliceblue;
    background-color:darkslategray;
    
}
.footertext{
    margin-left:2%;
    margin-right:0%;
    padding-top:1%;
    padding-bottom:1%;
    fill:aliceblue;
    text-align:center;
}