body{
    font-family:'Archivo Black',sans-serif;
    
    
}
a{
    color:aliceblue;
    text-align:center;
}

/* ABOUT PAGE STYLING */
.abouth1{
    text-align:center;
    padding-top:2rem;
}
.abouth2{
    margin-top:2rem;
    margin-bottom:2rem; 
    text-align:center;
}
.abouth3{
    padding-top:2rem;
    margin-bottom:2%; 
    text-align:center;
    float:left;
}
.peerfeedback{
    margin-right:52%;
}





/*  FOOTER STYLING */
.footerdiv{
    position:sticky;
    bottom:0;
    height:5%;
    text-align:center;
    color:aliceblue;
    background-color:darkslategray;
}
.footertext{
    margin-left:5%;
    margin-right:5%;
    fill:aliceblue;
}