<html>
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
<title>
   Bird Calls: Injured Birds in NYC 2022
</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div  style="margin-left: 5%; margin-right:5%">
    <h1 class="abouth1"> Bird Calls: Injured Birds in NYC 2022</h1>
    <h2 class="abouth2"> Context: </h2>
    <p>I'm using data from NYC's Urban Park Rangers (who are called by NYC residents to attend to animals, for example, a stray cat, a racoon, or in this case, birds). This dataset contains the status of the animals (healthy, unhealthy, injured), species (ex. hawk), and location (ex. Prospect Park), as well as how the animal was attended to. I'm using this data to analyze where birds have been injured in NYC, to raise awareness about the Park Ranger Service. By seeing the data for injured birds, NYC residents (or visitors) will hopefully be more motivated to make a call themselves. Personally, I had never heard of this service beforehand, despite being an NYC resident.</p>
   
    <h2 class="abouth2"> Data Sources:</h2>
    <a href="https://data.cityofnewyork.us/Environment/Urban-Park-Ranger-Animal-Condition-Response/fuhs-xmg2/about_data">Urban Park Ranger Animal Condition Response</a>
    <p> Provided by the Department of Parks and Recreation (DPR), Accessed through NYC OpenData</p>
    
    <h2 class="abouth2"> Data Cleansing Pipeline:</h2>

    <div id="carousel" class="carousel slide carousel-fade">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div> <!-- end indicators-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/datacleansingpipeline/importingthefile.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block"style="color:#0A7878;">
            <h5>Importing the CSV file</h5>
            <p>I downloaded the data as a .csv file, and imported into sheets.</p>
          </div>
        </div> <!-- end active item-->
        <div class="carousel-item">
          <img src="/datacleansingpipeline/removingrows.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Editing the data</h5>
            <p>I used google sheets to edit the data, removing any that wasn't necessary for my search (i.e. stray cats)</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/datacleansingpipeline/pipelineoverview.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Reformatting Data</h5>
            <p>I used a <a href="https://github.com/suzanneguerrier25/DataJournalism/blob/main/data/format_data.py">format_data.py</a> file to convert the data to json format</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/datacleansingpipeline/datastructure.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Data Structure</h5>
            <p>I used a dictionary with the date and time as the key, to separate calls by boroughs, and not overwrite any calls.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/datacleansingpipeline/formatting.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Formatting the data</h5>
            <p>I also took the time to format the data, removing newlines as well as incomplete entries.</p>
          </div>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
   
    <h2 class="abouth2"> Prototyping and Designing</h2>
    <div class="protodescards">
    <div class="card" style="width: 50%;float:left;">
        <img src="/protomacro.jpg" class="card-img-top" alt="mainpage prototype">
 
    </div>
        </div>
        
      
      <div class="card" style="width: 50%;float:right; ">
        <img src="/protomicro.jpg" class="card-img-top" alt="borough specific prototype" >
        
      </div>
    </div>
    
      <h3 class="maingpageh">Main Page</h3>
      <p class="mainpage">My initial idea for the main page was to have a map of NYC, with data for bird calls in each borough, and a summary on hovering a borough. I wanted to keep this summary simple by expanding to simply number of injured birds per borough, which conveys my message by showing how the data is spread across boroughs.
    </p>
      <h3>Borough Specific</h3>
      <p class="boroughspecific"> 
        For my borough specific pages, I planned to have a map of each borough, highlighting the parks, since that is where most birds were called in. I also added multiple possible charts summarizing the data. Firstly, number of injured birds by location, which I felt conveyed my message because when looking at the data per location, inhabitants of each location can know to look out for birds. Furthermore, I felt a bar chart would most effectively communicate the information.
         <br>
         <br>
         Alternatively I considered a breakdown by species of bird, which I felt would convey my message by pinpointing which type of bird to look out for, as some might get more injured than others. I wanted to keep the graph simple with a bar chart, which would visually separate each species. I would also highlight the most injury-prone species with a darker color.
        <br>
        <br>
          Finally, I considered a line graph on what times of year calls were being made, as that would pinpoint a time where residents should be the most vigilant. I chose a line graph as it would most simply show trends in certain times of the year.
        <br>
        <br>
          I also included a potential color scheme, limiting my palette to a few colors to highlight key information.
    </p>
      
  

    
    <br>
    <h3 class="abouth3" id="peers"> Peer Feedback</h3>
    <p class="peerfeedback">Peer feedback I received can be broken down into 2 main points
        <br>
        - Simplicity: The excess of graphs could distract the reader from the message, especially if unorganized
        <br>
        - Message: Be more clear with how the graphs help the reader to draw conclusions
        <br>
     To address these, I plan to clearly state on the specific pages how each graph relates to my message, and also potentially crowdsourcing data for if my peers knew about the park ranger call-in beforehand. Furthermore, I will separate the species graph (and potentially others) onto an additional information page, if the visitor would like to know more. On this page I will also post relevant resources.

    </div>
 
    {% include 'footer.html' %}
  
</body>

<style>
  
</style>

</html>