<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
<title>
Bird Calls: Extra info
</title>
<body>
    {% include 'navbar.html' %}
<h1 style="text-align:center;margin-top:5%;"> Additional Resources</h1>
<p style="margin-left:2%;margin-right:2%;margin-top:5%;">Wondering where to get additional info? How to call if you see an injured bird? See below.</p>
<ol>
  <li><a style="color:black;"href="https://www.nycgovparks.org/"> NYC Parks Website</a></li>  
  <li><a style="color:black;"href="https://portal.311.nyc.gov/kacategory/?id=311-36">NYC Parks Reporting Page</a></li>
  <li><a style="color:black;"href="https://portal.311.nyc.gov/article/?kanumber=KA-01789">above, but specifically for Injured Animals (i.e. birds!)</a></li>
</ol>
<div style="margin-left:2%; margin-right:2%;margin-top:5%;">
<h2 style="text-align:center;"> Images:</h2>
<p> All drawn images, i.e. logos are drawn by me, including the pictogram icon. </p>
</div>
<div style="position:relative;">
{% include 'footer.html' %}
</div>
<stylesheet href="/style.css" ></stylesheet>
</html>