<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
<title>
Bird Calls: Extra info
</title>
<body>
    {% include 'navbar.html' %}
<h1 style="text-align:center;"> not fully implemented, will be for ms2</h1>
{% include 'footer.html' %}
<stylesheet href="/style.css" ></stylesheet>
</html>