
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
</head>
<div class="footerdiv">
   <footer class="text-center text-lg-start"style="text-align: center;background-color:darkslategray;" >
       <div class="footertext">
        Investigation into the quantity of bird calls per borough, highlighting the necessity of these calls. Made by Suzanne Guerrier '25, using data found <a href="https://data.cityofnewyork.us/Environment/Urban-Park-Ranger-Animal-Condition-Response/fuhs-xmg2/about_data" >here</a>
    </div>
   
    </footer>
</div>
 </html>