
<title>
    Bird Calls: Injured Birds in NYC 2022
</title>
<body>
    {% include 'navbar.html' %}
    <div class="introscreen" style="background-color: slategray; width: 100%; height:75%;" >
        <h1 style="text-align: center;color:aliceblue; padding-top:2%;">Bird Calls: A Project </h1>
        <p style="text-align: left; margin-left:5%; margin-right:50%; margin-top:7.5%; padding-bottom:7.5%; color:aliceblue; font-size:30px;">
        Designed to bring awareness to the injured birds in NYC, and a helpful service that isn't necessarily common knowledge by NYC residents. Go to the about page for more information, or look below for a breakdown by borough.
        </p>
      <p style="margin-left :60%; margin-right:5%; text-align:center; margin-top:-7.5%; color:aliceblue; font-size:24px;"> insert image here</p>
    </div>

    <div class="macro" style="background-color: aliceblue; width: 100%; height:75%; margin-left:0%; padding-left:0%; padding-right:50%;">
        {% include 'NYC_boroughs.svg' %}
        <p>testing text</p>
    </div>

 {% include 'footer.html' %}
</body>

<script>
    
</script>