<title>
    Bird Calls: Injured Birds in NYC 2022
</title>
<body>
    {% include 'navbar.html' %}
    <div class="introscreen" style="background-color: slategray; width: 100%; height:75%;" >
        <h1 style="text-align: center;color:aliceblue; padding-top:2%;">Bird Calls: A Project </h1>
        <p style="text-align: left; margin-left:5%; margin-right:50%; margin-top:7.5%; color:aliceblue; font-size:30px;">
        Designed to bring awareness to the injured birds in NYC, and a helpful service that isn't necessarily common knowledge by NYC residents. Go to the about page for more information, or look below for a breakdown by borough.
        </p>
      <p style="margin-left :60%; margin-right:5%; text-align:center; margin-top:-7.5%; color:aliceblue; font-size:24px;"> insert image here</p>
    </div>

    <div class="macro" style="background-color: aliceblue; width: 100%; height:75%; ">
        <svg fill="#ececec" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width=".3" viewbox="50 50 760 760" width="720" height="720" background-color="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
            <rect class="filler" width="1600" height="800" fill="#aaaaaa"> </rect>
            <text class="filler" x="405" y= "465" text-anchor="middle" fill="#000000">insert macro summary here</text>
            </svg>
    </div>

 {% include 'footer.html' %}
</body>