
<html>
<head><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
<title>
    Bird Calls: Injured Birds in NYC 2022
</title>
</head>
<body style="font-family:'Archivo-Black', sans-serif; font-weight:bold;">
    {% include 'navbar.html' %}
    <div class="introscreen" style="background-color: slategray; width: 100%; height:100%;" >
        <h1 style="text-align: center;color:aliceblue; padding-top:7.5% ; font-weight:bold; font-size:50px;">Bird Calls: A Project </h1>
        <p style="text-align: center; margin-left:5%; margin-right:5%; margin-top:12.5%; color:aliceblue; font-size:30px;font-weight:normal;">
        Designed to bring awareness to the injured birds in NYC, and a helpful service that isn't necessarily common knowledge by NYC residents. Go to the about page for more information, or look below for a breakdown by borough.
        </p>
     
    </div>

    <div class="macro" style="background-color: aliceblue; width: 100%; height:75%;">
        <div class="macro" style="float:left;">
            {% include 'NYC_boroughs.svg' %}
        </div>
        <div class="macro" style="padding-top:2%; margin-left:38%;">
            <p>KEY: the higher the opacity, the more bird calls in the area.
                <br>
                <br>
                In NYC boroughs, the amount of bird calls varied, with the most in Manhattan and Brooklyn, specifically Manhattan had {{manbirdnumtempl}} bird calls, and Brooklyn had {{brkbirdnumtempl}} bird calls. Conversely, the other boroughs had much less, as Queens, Staten Island, and the Bronx had {{qubirdnumtempl}}, {{sibirdnumtempl}}, and {{brnxbirdnumtempl}} calls respectively. 
                <br>
                <br>
                <br>
            My takeaways from this have been:
            <ol>
                <li> There are a lot of injured birds in NYC. I initially thought there'd be around 20 per borough per year, but instead, it's a lot more!</li>
                <li> A lot of birds are being found injured in Manhattan and Brooklyn. I thought that it would be more even around boroughs.</li>
                <li> There are quite a few calls being made already- but more can always be made, and the number of actual birds injured most likely isn't reflected in these numbers</li>
            </ol>
            
            </p>
        </div>

    </div>
    <div style="width:100%">
        {% include 'footer.html' %}     
    </div>
   
</body>

</html>